
@font-face {
    font-family: "Marguerite_font";
    src: url('../fonts/Marguerite/Marguerite.ttf');
}

@font-face {
    font-family: "Heart_font";
    src: url('../fonts/AlwaysInMyHeart/AlwaysInMyHeart.ttf');
}

header
{
    width: 100%;
    height: 120px;
    background: url('../img/flying2.png') no-repeat;
}

#GdPy_picture
{
    height: 74px;
    float:inline-end;
}

header p
{
    font-size: 280%;
    font-family: 'Marguerite_font', serif;
    color: rgb(151, 92, 4);
    text-align: center;
    margin-bottom: 25px;
}

header h2
{
    font-style: italic;
    font-size: 80%;
    text-align: center;
}

body, html
{
    min-height: 100%;
    margin: 0 auto;
    background: url('../img/aquablue2.jpg');
}

#questionBlock
{
    display:inline-block;
    position:relative;
    left: 2%;
}

#questionButton
{   
    display: inline-block;
    position:relative;
    left: 2%;
}

#map
{
    display: none;
    height:200px;
    margin-bottom: 5px;
    left: 98%;
}

#response, #response2
{
    display: none;
    position:relative;
    text-align: right;
    font-size: 150%;
    resize: none;
    left: 98%;
    margin-bottom: 5px;
    font-family: 'Heart_font';
}

#wikiLink
{
    display: none;
    position:relative;
    left: 98%;
    margin-bottom: 5px;
}

.loader
{
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: wait;
    display: none;
}

#after_button
{
    margin-top: 100px;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #55a1c7;
}

#author_sign
{
    width: 50%;
}

footer h6
{
    font-family: serif;
	font-weight:bold;
    margin-bottom: 0px;
}

footer h5
{
    margin-top: 0px;
    font-size: 12px;
}
