
header
{
    width: 100%;
    height: 74px;
    background: url('../img/flying2.png') no-repeat;
    font-family: 'Black_jackregular', serif;
    color: green;
}

body, html
{
    min-height: 100%;
    margin: 0 auto;
    background: url('../img/aquablue2.jpg');
}

#questionBlock
{
    display:inline-block;
    position:relative;
    left: 2%;
}

#questionButton
{   
    display: inline-block;
    position:relative;
    left: 2%;
    margin-bottom: 100px;
}

#map
{
    display: none;
    height:200px;
    margin-bottom: 5px;
    left: 98%;
}

#response, #response2
{
    display: none;
    position:relative;
    text-align: right;
    resize: none;
    left: 98%;
    margin-bottom: 5px;
}

#wikiLink
{
    display: none;
    position:relative;
    left: 98%;
    margin-bottom: 5px;
}

.loader
{
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: wait;
    display: none;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #55a1c7;
}

#author_sign
{
    width: 50%;
}

footer h6
{
    font-family: 'Black_jackregular', serif;
	font-weight:bold;
    margin-bottom: 0px;
}

footer h5
{
    margin-top: 0px;
    font-size: 12px;
}
