
#questionBlock
{
    display:inline-block;
    position:relative;
    left: 2%;
}

#questionButton
{   
    display: inline-block;
    position:relative;
    left: 2%;
    margin-bottom: 30px;
}

#map
{
    display: none;
    height:200px;
    margin-bottom: 5px;
    left: 98%;
}

#response
{
    display: none;
    position:relative;
    text-align: right;
    resize: none;
    left: 98%;
    margin-bottom: 5px;
}

#wikiLink
{
    display: none;
    position:relative;
    left: 98%;
    margin-bottom: 5px;
}

#tuc
{
    left:98%;
    margin-bottom: 5px;
}