<!DOCTYPE html>
<html id='all' lang='fr'>
  <head>
    <meta charset="UTF-8" />
    <link href=" {{ url_for('static', filename='papy.css') }} " rel="stylesheet" type="text/css" />
    <title>PapyBot</title>

    <!-- GoogleMaps-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </head>

  <body>
    <input id="questionBlock" type='text' size=50 placeholder="La question à Papy"></input>
    <input type='submit' onClick='return test(this)' value="Poser la question" id="questionButton"></input>
    <h1>Auteurs</h1>
    <ul id ="author"></ul>
    <p id="grandy"></p>

    <div id="map">
      <!-- Map -->
    </div>
    <script
      src="https://maps.google.com/maps/api/js?key=AIzaSyDICnA0VqhMKNXJkwbZuWP26CMAedvYWVs&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <script src=" {{url_for('static', filename='js/papy.js')}} "></script>
</body>

</html>
